{% extends "base.html" %}

{% block body %}
{% include "nav.html" %}
<div class="row pt-8 pricing-table">
    <div class="col-12 mx-auto">
        <div class="card-deck pricing-table">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">AI Blog Writer </h3>
                    <h2 class="card-title text-primary mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>A blog writing AI that can help you write better and faster, 
                       With our AI, you'll get help crafting headlines, structuring your b,
                         and even come up with new ideas for topics to write about.</p>
                    </ul>
                    <a href="/blogwriter" class="btn btn-primary">
                        Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">AI Product Description Writer</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                        The AI Product Writing AI is a powerful artificial intelligence that can help
                         you write product descriptions that are  accurate, compelling and error-free.
                    </ul>
                    <a href="/productdescwriter" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">Email Generator</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                       

This email generator AI will help you create unique and interestingemails

                       </p>
                    </ul>
                    <a href="/emailgenerator" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">Application Generator</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                       

This Paragraph generator AI will help you create unique and interesting paragraphs.

                       </p>
                    </ul>
                    <a href="/appgenerator" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pt-3">Lyrics Generator</h3>
                    <h2 class="card-title text-info mb-0 pt-4">Free</h2>
                    <div class="text-muted font-weight-medium mt-2">for this month</div>
                    <ul class="list-unstyled pricing-list">
                       <p>
                       

This Lyrics generator AI will help you create unique and interesting Lyrics.

                       </p>
                    </ul>
                    <a href="/lyricsgenerator" class="btn btn-info">
                    Get Started
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock body %}